div.form-tile{

  max-width: 500px;
  min-width: 300px;
  width: 70%;
  margin: 0 auto;
  background-color: lightgrey;

  div.panel-header {

    text-align: center;
    background-color: deepskyblue;
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.57);
    -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.57);
    box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.57);

    div{
      height: 30px;
    }

    span{
      vertical-align: -webkit-baseline-middle;
    }

    div.selected{
      border-bottom: 3px #0000ff solid;

      span{
        color: #0000ff;
      }
    }

  }

  div.user-form {
    margin-top: 20px;
    padding: 10px;

    .form-group {
      margin-bottom: 25px;
    }

    .input-labels{
      font-size: 12px;
      margin-bottom: 0px;
    }

    input.form-text-input{
      background-color: transparent;
      padding: 0px;
      box-shadow: none;
      line-height: initial;
      border: none;
      border-radius: 0px;
      border-bottom: 1px solid grey;
    }

    div.user-agreement-row{
      margin-bottom: 15px;
    }

    div.invalid-field {
      background-color: pink;
      padding: 5px;
      margin-bottom: 10px;
      border-radius: 5px;

      p{
        font-size: 8px;
        font-style: italic;
      }
    }

  }

  div.buttons{
    margin: 10px;
    padding-bottom: 10px
  }

  div.align-right{
    text-align: right;
  }


}

